<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation-directive>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.cancel()">&times;
        </button>
        <h4 class="modal-title">{{vm.pageTitle}}</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="control-label">Client ID</label>
            <input type="text" class="form-control" name="clientId" ng-model="vm.entity.clientId" ng-maxlength="50"
                   disabled required>
            <div ng-show="editForm.clientId.$invalid">
                <p class="help-block" ng-show="editForm.clientId.$error.required">
                    Required
                </p>
            </div>
            <div ng-show="editForm.clientId.$invalid">
                <p class="help-block" ng-show="editForm.clientId.$error.maxlength">
                    <small>Max length: 50</small>
                </p>
            </div>
        </div>
        <div class="form-group" ng-show="vm.mode == 'create'">
            <label class="control-label">Raw client secret</label>
            <input type="text" class="form-control" name="rawClientSecret" ng-model="vm.entity.rawClientSecret"
                   ng-maxlength="50" ng-required="vm.mode == 'create'">
            <div ng-show="editForm.rawClientSecret.$invalid">
                <p class="help-block" ng-show="editForm.rawClientSecret.$error.required">
                    Required
                </p>
            </div>
            <div ng-show="editForm.rawClientSecret.$invalid">
                <p class="help-block" ng-show="editForm.rawClientSecret.$error.maxlength">
                    <small>Max length: 50</small>
                </p>
            </div>
            <div>
                <p class="label label-warning" ng-show="vm.mode == 'create'">
                    <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                    Remember to copy the raw client secret for later use
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Validity in days</label>
            <input type="number" class="form-control" name="validityInDays" ng-model="vm.entity.validityInDays" required>
            <div ng-show="editForm.validityInDays.$invalid">
                <p class="help-block" ng-show="editForm.validityInDays.$error.required">
                    Required
                </p>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <label class="control-label">Client authentication methods</label>
            <div ng-repeat="v in vm.entity.clientAuthenticationMethods track by $index">
                <div class="input-group">
                    <select class="form-control" ng-model="vm.entity.clientAuthenticationMethods[$index].clientAuthenticationMethod" name="clientAuthenticationMethod"
                            ng-options="item as item for item in vm.clientAuthenticationMethodOptions" required>
                        <option value="">Select...</option>
                    </select>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-danger" ng-click="vm.delClientAuthenticationMethod($index)"><i class="fa fa-minus"></i></button>
                    </span>
                </div>
                <div ng-show="editForm.clientAuthenticationMethod.$invalid">
                    <p class="help-block" ng-show="editForm.clientAuthenticationMethod.$error.required">
                        Required
                    </p>
                </div>
                <div class="p-h-xs"/>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label">
                <button class="btn btn-primary pull-right m-t-n-sm" type="button" ng-click="vm.addClientAuthenticationMethod()">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="row"/>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <label class="control-label">Authorization grant types</label>
            <div ng-repeat="v in vm.entity.authorizationGrantTypes track by $index">
                <div class="input-group">
                    <select class="form-control" ng-model="vm.entity.authorizationGrantTypes[$index].grantTypeName" name="authorizationGrantType"
                            ng-options="item as item for item in vm.authorizationGrantTypeOptions" required>
                        <option value="">Select...</option>
                    </select>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-danger" ng-click="vm.delAuthorizationGrantType($index)"><i class="fa fa-minus"></i></button>
                    </span>
                </div>
                <div ng-show="editForm.authorizationGrantType.$invalid">
                    <p class="help-block" ng-show="editForm.authorizationGrantType.$error.required">
                        Required
                    </p>
                </div>
                <div class="p-h-xs"/>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label">
                <button class="btn btn-primary pull-right m-t-n-sm" type="button" ng-click="vm.addAuthorizationGrantType()">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="row"/>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <label class="control-label">Client redirect URIs</label>
            <div ng-repeat="v in vm.entity.redirectUris track by $index">
                <div class="input-group">
                    <input type="text" class="form-control" name="redirectUri" ng-model="vm.entity.redirectUris[$index].redirectUri" required>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-danger" ng-click="vm.delRedirectUri($index)"><i class="fa fa-minus"></i></button>
                    </span>
                </div>
                <div ng-show="editForm.redirectUri.$invalid">
                    <p class="help-block" ng-show="editForm.redirectUri.$error.required">
                        Required
                    </p>
                </div>
                <div class="p-h-xs"/>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label">
                <button class="btn btn-primary pull-right m-t-n-sm" type="button" ng-click="vm.addRedirectUri()">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="row"/>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <label class="control-label">Scopes</label>
            <div ng-repeat="v in vm.entity.scopes track by $index">
                <div class="input-group col-md-12">
                    <div class="input-group">
                        <div class="col-md-6"><input type="text" class="form-control" name="scope" ng-model="vm.entity.scopes[$index].scope" placeholder="scope" required></div>
                        <div class="col-md-6"><input type="text" class="form-control" name="description" ng-model="vm.entity.scopes[$index].description" placeholder="description" required></div>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-danger" ng-click="vm.delScope($index)"><i class="fa fa-minus"></i></button>
                        </span>
                    </div>
                    <div ng-show="editForm.scope.$invalid || editForm.description.$invalid">
                        <p class="help-block" ng-show="editForm.scope.$error.required || editForm.description.$error.required">
                            Required
                        </p>
                    </div>
                </div>
                <div class="p-h-xs"/>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label">
                <button class="btn btn-primary pull-right m-t-n-sm" type="button" ng-click="vm.addScope()">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="row"/>
        <div class="form-group">
            <label class="control-label">Remarks</label>
            <input type="text" class="form-control" name="remarks" ng-model="vm.entity.remarks" ng-maxlength="50" required>
            <div ng-show="editForm.remarks.$invalid">
                <div ng-show="editForm.remarks.$invalid">
                    <p class="help-block" ng-show="editForm.remarks.$error.required">
                        Required
                    </p>
                </div>
                <p class="help-block" ng-show="editForm.remarks.$error.maxlength">
                    <small>Max length: 200</small>
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Enabled</label>
            <div class="onoffswitch">
                <input type="checkbox" id="enabled" ng-model="vm.entity.enabled" class="onoffswitch-checkbox">
                <label class="onoffswitch-label" for="enabled">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" ng-click="vm.cancel()">
            <span class="fa fa-times"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" class="btn btn-default btn-sm" ng-disabled="editForm.$invalid || vm.isSaving">
            <span class='fa fa-circle-o-notch fa-spin' ng-show="vm.isSaving"></span>
            <span class="fa fa-check" ng-hide="vm.isSaving"></span>
            &nbsp;<span>Save</span>
        </button>
    </div>
</form>
