<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Passport | Device Activation</title>
    <link rel="shortcut icon" th:href="@{/favicon.ico}"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="container mx-auto">
    <div class="row py-5">
        <div class="col-md-6">
            <h2 class="text-2xl font-bold">Device Activation</h2>
            <p class="mt-2">Enter the security code to activate the device.</p>
            <div class="mt-5">
                <form th:action="@{/oauth2/device_verification}" method="post">
                    <div class="mb-3">
                        <label for="user_code" class="form-label">Security Code</label>
                        <input type="text" id="user_code" name="user_code" class="form-control" required autofocus>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <img src="/assets/images/misc/devices.png" th:src="@{/assets/images/misc/devices.png}" class="img-responsive" alt="Devices">
        </div>
    </div>
</div>
</body>
</html>