<div th:fragment="content">
    <h1 class="font-bold text-gray-900 mb-10" th:text="#{activate.account.email.title}"></h1>
    <div class="text-sm mb-1">
        <span class="font-bold text-gray-800" th:text="#{email.greeting(${user.username})}"></span>
    </div>
    <div class="text-sm mb-15">
        <span class="font-semibold text-gray-800" th:text="#{activate.account.email.text}"></span>
    </div>
    <div>
        <a th:href="@{|${baseUrl}/activate-account?code=${user.activationCode}|}" class="btn btn-lg btn-primary hover-elevate-down" th:text="#{activate.account.email.button.text}"></a>
    </div>
</div>