<div th:fragment="content">
    <div style="font-size: 16px; margin-bottom: 5px;">
        <span style="font-weight: bold; color: #444444;" th:text="#{email.greeting(${user.username})}">Hey User,</span>
    </div>

    <div style="font-size: 16px; margin-bottom: 25px;">
        <span style="font-weight: 600; color: #444444;"
              th:text="#{activate.account.email.text}">
              Please activate your account by clicking the button below:
        </span>
    </div>

    <div style="margin-bottom: 30px; text-align: center;">
        <a th:href="@{|${baseUrl}/activate-account?code=${user.activationCode}|}"
           style="display: inline-block; padding: 12px 24px; background-color: #7c3aed; color: white; font-size: 16px; font-weight: 600; text-decoration: none; border-radius: 6px; transition: background-color 0.3s ease;"
           onmouseover="this.style.backgroundColor='#6b21a8'"
           onmouseout="this.style.backgroundColor='#7c3aed'"
           th:text="#{activate.account.email.button.text}">Activate Account</a>
    </div>
</div>