<div th:fragment="content">
    <div class="text-sm mb-1">
        <span class="font-bold text-gray-800" th:text="#{email.greeting(${user.username})}"></span>
    </div>
    <div class="text-sm mb-15">
        <span class="font-semibold text-gray-800" th:text="#{reset.password.email.text}"></span>
    </div>
    <div class="mb-15">
        <a th:href="@{|${baseUrl}/reset-password?resetCode=${user.resetCode}|}" class="btn btn-lg btn-primary hover-elevate-down" th:text="#{reset.password.email.button.text}"></a>
    </div>
    <div class="text-sm mt-5 mb-5">
        <span class="font-bold text-red-700" th:text="#{reset.password.expires.tip}"></span>
    </div>
    <div class="text-xs">
        <span class="font-semibold text-muted" th:text="#{reset.password.ignore.tip(${user.email})}"></span>
    </div>
</div>