<div th:fragment="content">
    <div style="font-size: 16px; margin-bottom: 5px;">
        <span style="font-weight: bold; color: #444444;" th:text="#{email.greeting(${user.username})}">Hey User,</span>
    </div>

    <div style="font-size: 16px; margin-bottom: 25px;">
        <span style="font-weight: 600; color: #444444;" th:text="#{verification.code.email.text}">Your verification code: </span>
    </div>

    <div style="font-weight: bold; font-size: 28px; color: #7c3aed; text-align: center; margin-bottom: 30px; letter-spacing: 3px;" th:text="${user.verificationCode}">123456</div>

    <p style="margin: 0 0 15px 0; color: #dc2626; font-size: 14px; font-weight: bold; line-height: 1.5;" th:text="#{verification.code.expires.tip}">This link will expire in 15 minutes</p>
</div>