<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{vm.pageTitle}}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Homepage</a>
            </li>
            <li>
                <a style="pointer-events: none">{{vm.grandfatherPageTitle}}</a>
            </li>
            <li>
                <a ui-sref="^">{{vm.parentPageTitle}}</a>
            </li>
            <li class="active">
                <strong>{{vm.pageTitle}}</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInDown">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Key</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>ID:</td>
                                <td>{{vm.entity.id}}</td>
                            </tr>
                            <tr>
                                <td>Client ID:</td>
                                <td>{{vm.entity.clientId}}</td>
                            </tr>
                            <tr>
                                <td>Client name:</td>
                                <td>{{vm.entity.clientName}}</td>
                            </tr>
                            <tr>
                                <td>Client secret:</td>
                                <td>******</td>
                            </tr>
                            <tr>
                                <td>Client ID issued at:</td>
                                <td>{{vm.entity.clientIdIssuedAt | date:'yyyy/MM/dd HH:mm:ss'}}</td>
                            </tr>
                            <tr>
                                <td>Client secret expires at:</td>
                                <td>{{vm.entity.clientSecretExpiresAt | date:'yyyy/MM/dd HH:mm:ss'}}</td>
                            </tr>
                            <tr>
                                <td>Client authentication methods:</td>
                                <td>
                                    <ul class="list-unstyled m-b-none">
                                        <li ng-repeat="item in vm.entity.clientAuthenticationMethods"><span>{{item.clientAuthenticationMethod}}</span></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>Authorization grant types:</td>
                                <td>
                                    <ul class="list-unstyled m-b-none">
                                        <li ng-repeat="item in vm.entity.authorizationGrantTypes"><span>{{item.grantTypeName}}</span></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>Redirect URIs:</td>
                                <td>
                                    <ul class="list-unstyled m-b-none">
                                        <li ng-repeat="item in vm.entity.redirectUris"><span>{{item.redirectUri}}</span></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>Scopes:</td>
                                <td>
                                    <ul class="list-unstyled m-b-none">
                                        <li ng-repeat="item in vm.entity.scopes"><span>scope: {{item.scope}}, description: {{item.description}}</span></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>Client settings:</td>
                                <td>{{vm.entity.clientSettings | json}}</td>
                            </tr>
                            <tr>
                                <td>Token settings:</td>
                                <td>{{vm.entity.tokenSettings | json}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-right">
                        <button type="button" class="btn btn-default btn-sm" ui-sref="^">
                            <span class="fa fa-arrow-left"></span>&nbsp;<span>Back</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>