<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{vm.pageTitle}}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首页</a>
            </li>
            <li>
                <a style="pointer-events: none">{{vm.parentPageTitle}}</a>
            </li>
            <li class="active">
                <a href="#{{$state.$current.url.sourcePath}}"><strong>{{vm.pageTitle}}</strong></a>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content p-h-xs animated fadeInDown">
    <div class="ibox-content m-b-sm">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" for="tokenId">登录授权ID</label>
                    <input type="text" id="tokenId" class="form-control" ng-model="vm.criteria.approvalId"
                           ng-keydown="vm.checkPressEnter($event)">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" for="clientId">客户端ID</label>
                    <input type="text" id="clientId" class="form-control" ng-model="vm.criteria.clientId"
                           ng-keydown="vm.checkPressEnter($event)">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" for="username">用户名</label>
                    <input type="text" id="username" class="form-control" ng-model="vm.criteria.username"
                           ng-keydown="vm.checkPressEnter($event)">
                </div>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-title">
            <div ibox-tools-directive></div>
        </div>
        <div class="ibox-content p-w-m">
            <table class="table table-striped">
                <thead>
                <tr sort-directive="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th>登录授权ID</th>
                    <th sort-by-directive="clientId"><span>客户端ID</span> <span class="fa fa-sort"></span></th>
                    <th sort-by-directive="username"><span>用户名</span> <span class="fa fa-sort"></span></th>
                    <th>Scope</th>
                    <th>状态</th>
                    <th>是否过期</th>
                    <th sort-by-directive="expiresAt"><span>过期时间</span> <span class="fa fa-sort"></span></th>
                    <th sort-by-directive="lastUpdatedAt"><span>修改时间</span> <span class="fa fa-sort"></span>
                    </th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="entity in vm.entities track by entity.id">
                    <td><a ui-sref=".view({id: entity.id})">{{entity.id}}</a></td>
                    <td>{{entity.clientId}}</td>
                    <td>{{entity.userId}}</td>
                    <td>{{entity.scope}}</td>
                    <td>{{entity.status}}</td>
                    <td>{{parseDate(entity.expiresAt) < now}}</td>
                    <td>{{entity.expiresAt | date:'yyyy/MM/dd HH:mm:ss'}}</td>
                    <td>{{entity.lastUpdatedAt | date:'yyyy/MM/dd HH:mm:ss'}}</td>
                    <td>
                        <div class="btn-group">
                            <button class="btn-white btn btn-xs" ui-sref=".view({id: entity.id})">查看</button>
                            <button class="btn-white btn btn-xs" ng-click="vm.del(entity.id)">删除</button>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="12" class="text-center">
                        <strong><item-count-component page="vm.page" total="vm.totalItems" items-per-page="vm.itemsPerPage"></item-count-component></strong>
                        <uib-pagination class="pagination-sm m-xs" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>