<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{vm.pageTitle}}</h2>
    </div>
</div>
<div class="wrapper wrapper-content p-h-xs animated fadeInDown">
    <div class="ibox-content m-b-sm border-bottom">
        <form name="form" role="form" novalidate ng-submit="vm.save()" show-validation-directive>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="alert alert-danger" ng-show="vm.passwordNotMatch">
                        两次输入的密码不匹配!
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label class="control-label" for="password">新密码</label>
                        <input type="password" class="form-control" id="password" name="password"
                               ng-model="vm.password" ng-minlength=5 ng-maxlength=50 required>
                        <div ng-show="form.password.$dirty && form.password.$invalid">
                            <p class="help-block" ng-show="form.password.$error.required">
                                必填字段
                            </p>
                            <p class="help-block" ng-show="form.password.$error.minlength">
                                最小长度为5个字符
                            </p>
                            <p class="help-block" ng-show="form.password.$error.maxlength">
                                最大长度为50个字符
                            </p>
                        </div>
                        <password-strength-bar-directive password-to-check="vm.password"></password-strength-bar-directive>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="confirmPassword">新密码确认</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                               ng-model="vm.confirmPassword" ng-minlength=5 ng-maxlength=50 required>
                        <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                            <p class="help-block" ng-show="form.confirmPassword.$error.required">
                                必填字段
                            </p>
                            <p class="help-block" ng-show="form.confirmPassword.$error.minlength">
                                最小长度为5个字符
                            </p>
                            <p class="help-block" ng-show="form.confirmPassword.$error.maxlength">
                                最大长度为50个字符
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <button type="submit" class="btn btn-default btn-sm pull-right" ng-disabled="form.$invalid || vm.isSaving">
                        <span class='fa fa-circle-o-notch fa-spin' ng-show="vm.isSaving"></span>
                        <span class="fa fa-check" ng-hide="vm.isSaving"></span>
                        &nbsp;<span>保存</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>