#
# Project specific excludes
#


#
# Default excludes
#

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# Maven 
target/

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/

# Eclipse project file
.settings/
.classpath
.project

# NetBeans specific
nbproject/private/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml


# OS
.DS_Store

# Misc
pom.xml.bak
src/main/webapp/app/constants.js