<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{vm.pageTitle}}</h2>
    </div>
</div>
<div class="wrapper wrapper-content p-h-xs animated fadeInDown">
    <div class="ibox-content m-b-sm border-bottom">
        <form name="form" role="form" novalidate ng-submit="vm.save()" show-validation-directive>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label class="control-label" for="lastName">姓</label>
                        <input type="text" class="form-control" id="lastName" name="lastName"
                               ng-model="vm.profileAccount.lastName" required ng-minlength="1" ng-maxlength="20">
                        <div ng-show="form.lastName.$dirty && form.lastName.$invalid">
                            <p class="help-block" ng-show="form.lastName.$error.required">
                                必填字段
                            </p>
                            <p class="help-block" ng-show="form.lastName.$error.minlength">
                                最小长度为1个字符
                            </p>
                            <p class="help-block" ng-show="form.lastName.$error.maxlength">
                                最大长度为20个字符
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="firstName">名</label>
                        <input type="text" class="form-control" id="firstName" name="firstName"
                               ng-model="vm.profileAccount.firstName" required ng-minlength="1" ng-maxlength="20">
                        <div ng-show="form.firstName.$dirty && form.firstName.$invalid">
                            <p class="help-block" ng-show="form.firstName.$error.required">
                                必填字段
                            </p>
                            <p class="help-block" ng-show="form.firstName.$error.minlength">
                                最小长度为1个字符
                            </p>
                            <p class="help-block" ng-show="form.firstName.$error.maxlength">
                                最大长度为20个字符
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="email">E-mail</label>
                        <input type="email" class="form-control" id="email" name="email"
                               ng-model="vm.profileAccount.email" required ng-minlength="3" ng-maxlength="30">
                        <div ng-show="form.email.$dirty && form.email.$invalid">
                            <p class="help-block" ng-show="form.email.$error.required">
                                必填字段
                            </p>
                            <p class="help-block" ng-show="form.email.$error.email">
                                Email格式不正确
                            </p>
                            <p class="help-block" ng-show="form.email.$error.minlength">
                                最小长度为3个字符
                            </p>
                            <p class="help-block" ng-show="form.email.$error.maxlength">
                                最大长度为30个字符
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="mobileNo">手机号</label>
                        <input type="number" class="form-control" id="mobileNo" name="mobileNo"
                               ng-model="vm.profileAccount.mobileNo"
                               required ng-minlength=11 ng-maxlength=13 ng-pattern="/^(13[0-9]|15[012356789]|17[03678]|18[0-9]|14[57])[0-9]{8}$/">
                        <div ng-show="form.mobileNo.$dirty && form.mobileNo.$invalid">
                            <p class="help-block" ng-show="form.mobileNo.$error.required">
                                必填字段
                            </p>
                            <p class="help-block" ng-show="form.mobileNo.$error.mobile">
                                手机号格式不正确
                            </p>
                            <p class="help-block" ng-show="form.mobileNo.$error.pattern">
                                手机号格式不正确
                            </p>
                            <p class="help-block" ng-show="form.mobileNo.$error.minlength">
                                最小长度为11个字符
                            </p>
                            <p class="help-block" ng-show="form.mobileNo.$error.maxlength">
                                最小长度为13个字符
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">上传新头像</label>
                        <div class="input-group">
                            <input type="text" class="form-control" ng-value="vm.file.name" readonly="readonly">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" ng-model="vm.file" name="file"
                                        ngf-select ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="3MB">
                                    <span class="fa fa-file-image-o"></span>&nbsp;
                                    <span>选择</span>
                                </button>
                                <button type="button" class="btn btn-warning" ng-click="vm.upload(vm.file)"
                                        ng-disabled="!vm.file || vm.uploading">
                                    <span class="fa fa-upload"></span>&nbsp;
                                    <span>上传</span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group" ng-show="vm.file">
                        <label class="control-label">上传进度</label>
                        <uib-progressbar value="vm.uploadProgress" type="warning" class="progress-striped">
                            {{vm.uploadProgress}}%
                        </uib-progressbar>
                    </div>
                    <div class="form-group text-center">
                        <img ngf-thumbnail="vm.file" class="thumb" style="width:100px">
                        &nbsp;
                        <button type="button" class="btn btn-danger btn-sm" ng-click="vm.file = null" ng-show="vm.file">
                            <span>删除</span>
                        </button>
                    </div>
                    <div class="form-group text-center" ng-show="!vm.file && vm.profileAccount.hasProfilePhoto">
                        <img class="thumb" ng-src="{{vm.profilePhotoUrl}}" style="width:100px">
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <button type="submit" class="btn btn-default btn-sm pull-right" ng-disabled="form.$invalid || vm.isSaving">
                        <span class='fa fa-circle-o-notch fa-spin' ng-show="vm.isSaving"></span>
                        <span class="fa fa-check" ng-hide="vm.isSaving"></span>
                        &nbsp;<span>保存</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>