<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{vm.pageTitle}}</h2>
    </div>
</div>
<div class="wrapper wrapper-content p-h-xs animated fadeInDown">
    <div class="ibox-content m-b-sm border-bottom">
        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-danger btn-sm pull-right" ng-click="vm.shutdown()"><span>Shutdown application</span>
            </button>
            </div>
        </div>
    </div>
</div>