<div class="middle-box text-center loginscreen animated bounceInDown">
        <h1 class="logo-name" style="font-size:65px">PASSPORT</h1>
        <h2 class="text-muted">{{vm.pageTitle}}</h2>
        <small ng-hide="vm.success">请输入新密码</small>
        <div class="alert alert-success" ng-show="vm.success">
            <p><strong>您的密码已经重置成功</strong> 请 <a class="alert-link" ui-sref="login">登录</a>.</p>
        </div>
        <form role="form" name="form" class="m-t" ng-hide="vm.success" ng-submit="vm.resetPassword()" novalidate show-validation-directive>
            <div class="alert alert-danger" ng-show="vm.keyMissing">
                <strong>缺少重置Key</strong>
            </div>
            <div class="alert alert-danger" ng-show="vm.error">
                <p>密码不可以重置，密码重置有效期为24小时</p>
            </div>
            <div class="alert alert-danger" ng-show="vm.password != vm.confirmPassword">
                两次输入密码不匹配
            </div>
            <div class="form-group" ng-show="!vm.success">
                <input type="password" class="form-control" id="password" name="password" placeholder="新密码" ng-model="vm.password" ng-minlength=5 ng-maxlength=50 required>
                <div ng-show="form.password.$dirty && form.password.$invalid">
                    <p class="help-block" ng-show="form.password.$error.required">
                        必填字段
                    </p>
                    <p class="help-block" ng-show="form.password.$error.minlength">
                        最小长度为5个字符
                    </p>
                    <p class="help-block" ng-show="form.password.$error.maxlength">
                        最小长度为50个字符
                    </p>
                </div>
                <password-strength-bar-directive password-to-check="vm.password"></password-strength-bar-directive>
            </div>
            <div class="form-group" ng-show="!vm.success">
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="确认新密码" ng-model="vm.confirmPassword" ng-minlength=5 ng-maxlength=50 required>
                <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                    <p class="help-block" ng-show="form.confirmPassword.$error.required">
                        必填字段
                    </p>
                    <p class="help-block" ng-show="form.confirmPassword.$error.minlength">
                        最小长度为5个字符
                    </p>
                    <p class="help-block" ng-show="form.confirmPassword.$error.maxlength">
                        最小长度为50个字符
                    </p>
                </div>
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b font-bold" ng-disabled="form.$invalid || vm.isSaving || vm.keyMissing || vm.password != vm.confirmPassword">
                <span class="fa fa-circle-o-notch fa-spin" ng-show="vm.isSaving"></span>
                <span ng-hide="vm.isSaving">重置密码</span>
            </button>
            <a class="btn btn-sm btn-white btn-block font-bold" ui-sref="login">返回</a>
        </form>
</div>
<div class="navbar-fixed-bottom text-center">
    <p class="m-t text-muted font-bold">
        <small>{{companyName}}</small>
    </p>
</div>
