<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{emailActivationTitle}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://luixtech.com/content/css/mail-style.css" media="all" rel="stylesheet" type="text/css"/>
</head>
<body>
<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" width="600">
            <div class="content">
                <table class="main" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="alert alert-good">
                            <span th:text="#{emailActivationTitle}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-wrap">
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="content-block">
                                        <span th:text="#{emailGreeting(${user.username})}"></span>:
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block">
                                        <span th:text="#{emailActivationText1}"></span>:
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block">
                                        <a th:href="@{|${baseUrl}/#/reset-password?key=${user.resetKey}|}"
                                           th:text="|${user.username}|">Login</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block">
                                        <p>
                                            <em th:text="#{emailClosing}"></em>
                                            <br/>
                                            <em th:text="#{emailSignature}"></em>
                                            <br/>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <div class="footer">
                    <table width="100%">
                        <tr>
                            <td class="aligncenter content-block">www.luixtech.com</td>
                        </tr>
                    </table>
                </div>
            </div>
        </td>
        <td></td>
    </tr>
</table>
</body>
</html>
