# ===================================================================
# Spring Boot configuration.
#
# This configuration will be overridden by the Spring profile you use it,
# for example, application-test.yml if you use the "test" profile.
# Full reference is available at:
# https://docs.spring.io/spring-boot/docs/3.2.0/reference/html/application-properties.html#application-properties
# ===================================================================
server:
  port: 4001
  servlet:
    session:
      timeout: 1D # Session timeout in 1 day. This parameter can control the login expiration. And this statement can affect Spring Session, which is used by SessionProperties.
management: # Management http server configuration, used by ManagementServerProperties
  health:
    mail:
      enabled: false
  endpoints:
    web:
      base-path: /management
      exposure:
        include:
          - configprops
          - env
          - info
          - health
          - beans
          - mappings
          - httptrace
          - shutdown
          - auditevents
          - scheduledtasks
          - loggers
          - prometheus
          - threaddump
          - liquibase
          - luixopenapigroups
  endpoint:
    health: # used by HealthEndpointProperties, Note: it will show health details if it has the access token by Ajax
      enabled: true
      show-details: WHEN_AUTHORIZED
    httptrace:
      enabled: true
    shutdown:
      enabled: true # explicitly enable
spring:
  application:
    name: luix-passport-server
  profiles:
    # The commented value for `active` can be replaced with valid spring profiles to load.
    # Otherwise, it will be filled in by maven when building the WAR file
    # Either way, it can be overridden by `--spring.profiles.active` value passed in the commandline or `-Dspring.profiles.active` set in `JAVA_OPTS`
    active: dev
  web:
    locale: en_US # default locale
  servlet:
    multipart:
      max-request-size: 15MB
      max-file-size: 15MB
  messages:
    basename: i18n/messages,i18n/luix-messages
  banner:
    location: classpath:config/banner-company.txt
  thymeleaf:
    mode: HTML
  data:
    jpa:
      repositories:
        bootstrap-mode: deferred
  jpa:
    open-in-view: false
    properties:
      hibernate.default_schema: public # public schema of PostgresSQL
      hibernate.jdbc.time_zone: UTC # The time zone must be identical to PostgresSQL
      hibernate.timezone.default_storage: NORMALIZE
#      hibernate.type.preferred_instant_jdbc_type: TIMESTAMP
      hibernate.id.new_generator_mappings: true
      hibernate.connection.provider_disables_autocommit: false
      hibernate.cache.use_second_level_cache: false
      hibernate.cache.use_query_cache: false
      hibernate.generate_statistics: false
      # modify batch size as necessary
      hibernate.jdbc.batch_size: 25
      hibernate.order_inserts: true
      hibernate.order_updates: true
      hibernate.query.fail_on_pagination_over_collection_fetch: true
      hibernate.query.in_clause_parameter_padding: true
    hibernate:
      ddl-auto: none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
        implicit-strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      poolName: Hikari
      auto-commit: true
      data-source-properties:
        cachePrepStmts: true
        prepStmtCacheSize: 250
        prepStmtCacheSqlLimit: 2048
        useServerPrepStmts: true
  security:
    oauth2:
      client:
        registration:
          google-idp: # https://accounts.google.com/.well-known/openid-configuration
            provider: google
            client-id: ${GOOGLE_CLIENT_ID:google-client-id}
            client-secret: ${GOOGLE_CLIENT_SECRET:google-client-secret}
            scope: openid, https://www.googleapis.com/auth/userinfo.profile, https://www.googleapis.com/auth/userinfo.email
            client-name: Sign in with Google
          github-idp:
            provider: github
            client-id: ${GITHUB_CLIENT_ID:16dc9a9c9866efc8ea26}
            client-secret: ${GITHUB_CLIENT_SECRET:48d2df23b64901f248e8a156eedac932ab579054}
            scope: user:email, read:user
            client-name: Sign in with GitHub
        provider:
          google:
            user-name-attribute: email
          github:
            user-name-attribute: login
  liquibase:
    enabled: false
    change-log: classpath:config/liquibase/master.xml
logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.jooq.tools.LoggerListener: DEBUG
    org.springframework.security: DEBUG
    org.springframework.security.oauth2: DEBUG
springdoc: # https://springdoc.org/#migrating-from-springfox
  api-docs:
    enabled: true
  show-actuator: true
  swagger-ui:
    tags-sorter: alpha
# ===================================================================
# Luix framework specific properties
# ===================================================================
luix:
  api-docs:
    api-include-pattern: /api/**
    open-api-include-pattern: /open-api/**
    management-include-pattern: /management/**
    api-title: Luix Passport Server API
    open-api-title: Luix Passport Server Open API
    management-title: Luix Passport Server Management API
    version: ${spring.application.name}
    terms-of-service-url:
    contact-name: Louis
    contact-url:
    contact-email: louis@luixtech.cn
    license: Unlicensed
    license-url:
  aop-logging:
    enabled: true
    method-whitelist-mode: false
  elapsed-time-logging:
    enabled: true
    slow-execution-threshold: 300 # unit: ms
  ribbon:
    # comma separated list of profiles to show a ribbon on the GUI
    display-on-active-profiles: dev,test,demo
# ===================================================================
# Application specific properties
# ===================================================================
application:
  account:
    default-password: ${spring.application.name}
  company:
    name: Luix Passport
    domain: https://passport.luixtech.cn
  mail:
    resend-api-key: ${RESEND_API_KEY:use-your-resend-api-key} # https://resend.com
    from-user-name: louis@luixtech.cn
    admin-email: ${luix.api-docs.contact-email}