<!-- Wrapper-->
<div id="wrapper">
    <!-- Left Sidebar -->
    <div ng-include="'app/views/common/left-sidebar.html'"></div>

    <!-- Page wrapper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}">

        <!-- Page wrapper -->
        <div ng-include="'app/views/common/navbar.html'"></div>

        <!-- Content view  -->
        <div ui-view="content@"></div>

        <!-- Footer -->
        <div ng-include="'app/views/common/footer.html'"></div>

    </div>
    <!-- End page wrapper-->

    <!-- Right Sidebar -->
    <div ng-include="'app/views/common/right-sidebar.html'"></div>
</div>
<!-- End wrapper-->