<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{vm.pageTitle}}</h2>
    </div>
</div>
<div class="wrapper wrapper-content p-h-xs animated fadeInDown">
    <div class="ibox-content m-b-sm">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label">Filter</label>
                    <input type="text" class="form-control" placeholder="Filter by keyword" ng-model="filter">
                </div>
            </div>
        </div>
    </div>
    <div class="ibox-content">
        <table class="table table-condensed table-striped table-bordered table-responsive"
               style="table-layout:fixed" ng-hide="filteredConfig.length == 0">
            <thead>
            <tr>
                <th ng-click="predicate = 'prefix'; reverse=!reverse" class="col-sm-4"><span>Mappings</span> <span class="fa fa-sort"></span></th>
                <th class="col-sm-8">Handler</th>
            </tr>
            </thead>

            <tr ng-repeat="entry in filtered = (vm.items | filter:filter | orderBy:predicate:reverse)">
                <td class="break"><span>{{entry.url}}</span></td>
                <td class="break"><span>{{entry.handler}}</span></td>
            </tr>
        </table>
    </div>
</div>
