<div th:fragment="content">
    <h1 class="font-bold text-gray-900 mb-10" th:text="#{create.user.email.title}"></h1>
    <div class="text-sm mb-1">
        <span class="font-bold text-gray-800" th:text="#{email.greeting(${user.username})}"></span>
    </div>
    <div class="text-sm mb-15">
        <span class="font-semibold text-gray-800" th:text="#{create.user.email.text}"></span>
    </div>
    <div>
        <a th:href="@{|${baseUrl}/#/reset-password?resetCode=${user.resetCode}|}" class="btn btn-lg btn-primary hover-elevate-down" th:text="#{create.user.email.button.text}"></a>
    </div>
</div>