<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reset Account Password</title>
    <link rel="shortcut icon" th:href="@{|${domain}/favicon.ico|}"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="flex flex-col items-center text-center">
    <div class="card w-lg-550px w-md-100 py-5">
        <div class="card-body py-15 py-lg-20">
            <div class="mb-10">
                <a th:href="${domain}">
                    <img alt="logo1" class="h-30px" th:src="@{|${domain}/assets/images/logos/logo-text.svg|}"/>
                </a>
            </div>
            <div class="mb-10">
                <img alt="logo2" class="h-125px" th:src="@{|${domain}/assets/images/email/icon-positive-vote-1.svg|}"/>
            </div>
            <h1 class="font-bold text-gray-900 mb-10" th:text="#{verification.code.email.title}"></h1>
            <div class="text-sm mb-1">
                <span class="font-bold text-gray-800" th:text="#{email.greeting(${user.username})}"></span>
            </div>
            <div class="text-sm mb-15">
                <span class="font-semibold text-gray-800" th:text="#{verification.code.email.text}"></span>
            </div>
            <div class="mb-15">
                <span th:text="${user.verificationCode}"></span>
            </div>
        </div>
        <div class="font-semibold">
            <span th:text="#{sent.by}"></span><a th:href="${domain}">Luix Passport</a>
        </div>
    </div>
</div>
</body>
</html>