<div has-authority-directive="ROLE_DEVELOPER">
    <div class="row border-bottom white-bg dashboard-header">
        <div class="ibox-content m-b-sm border-bottom">
            <div class="p-xs">
                <div class="pull-left m-r-md">
                    <img alt="image" class="img-circle" style="width:85px" ng-src="content/img/oauth_logo.png"/>
                </div>
                <h2>Passport System</h2>
                <span>OAuth (Open Authorization) is an open standard for token-based authentication and authorization on the Internet. OAuth,
                    which is pronounced "oh-auth," allows an end user's account information to be used by third-party services without exposing the user's password.</span>
            </div>
        </div>
        <section class="features">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="navy-line"></div>
                        <h1>More and more extra great features</h1>
                        <p>Secure, Convenient, Modulized, Powerful </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 features-text">
                        <small>PASSPORT</small>
                        <h2>OAuth Client</h2>
                        <i class="fa fa-shield medium-icon pull-right"></i>
                        <p>Visit the our site to obtain OAuth 2.0 credentials such as a client ID and client secret that
                            are known to both Passport and your application. The set of values varies based on what type
                            of application you are building. For example, a JavaScript application does not require a
                            secret, but a web server application does.</p>
                    </div>
                    <div class="col-lg-5 features-text">
                        <small>PASSPORT</small>
                        <h2>Access Token</h2>
                        <i class="fa fa-key medium-icon pull-right"></i>
                        <p>Access tokens are the thing that applications use to make API requests on behalf of a user.
                            The access token represents the authorization of a specific application to access specific
                            parts of a user’s data.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 features-text">
                        <small>PASSPORT</small>
                        <h2>User Management</h2>
                        <i class="fa fa-users medium-icon pull-right"></i>
                        <p>Passport system provides the simplest and easiest to use User interface tools to help
                            administrators manage user identities including password resets, creating and provisioning,
                            blocking and deleting users.</p>
                    </div>
                    <div class="col-lg-5 features-text">
                        <small>PASSPORT</small>
                        <h2>Role Control</h2>
                        <i class="fa fa-anchor medium-icon pull-right"></i>
                        <p>Roles enables you to assign specific permissions to a group and to fine-tune the security,
                            use and administration of modules. Users assigned to the role or group, are granted those
                            permissions as assigned to the role. Common examples of roles used with which you may be
                            familiar include: anonymous, user, administrator and developer.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 features-text">
                        <small>PASSPORT</small>
                        <h2>Http Session</h2>
                        <i class="fa fa-retweet medium-icon pull-right"></i>
                        <p>An HttpSession object can hold conversational state across multiple requests from the same
                            client. In other words, it persists for an entire session with a specific client.
                            We can use it to store everything we get back from the client in all the requests the client
                            makes during a session.</p>
                    </div>
                    <div class="col-lg-5 features-text">
                        <small>PASSPORT</small>
                        <h2>Admin Menu Management</h2>
                        <i class="fa fa-list-ul medium-icon pull-right"></i>
                        <p>Passport system provides the admin menus management for client to display the left sidebar
                            menus centrally. Admin menus are grouped by user role. It provides multiple levels tree
                            style menus, one parent menu can contains more children menus. The user with same role must
                            have the same menus.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
