<div class="middle-box text-center loginscreen animated bounceInDown">
    <h1 class="logo-name" style="font-size:65px">LUI✘ Passport</h1>
    <h2 class="text-muted">{{vm.pageTitle}}</h2>
    <small ng-hide="vm.success">Input new password</small>
    <div class="alert alert-success" ng-show="vm.success">
        <p><strong>Your password has been successfully reset,</strong> please visit <a class="alert-link" ui-sref="login">to sign in</a>.</p>
    </div>
    <form role="form" name="form" class="m-t" ng-hide="vm.success" ng-submit="vm.resetPassword()" novalidate show-validation-directive>
        <div class="alert alert-danger" ng-show="vm.keyMissing">
            <strong>Miss reset key</strong>
        </div>
        <div class="alert alert-danger" ng-show="vm.error">
            <p>he password cannot be reset, and the password reset period is valid for 24 hours</p>
        </div>
        <div class="alert alert-danger" ng-show="vm.password != vm.confirmPassword">
            Passwords don't match
        </div>
        <div class="form-group" ng-show="!vm.success">
            <input type="password" class="form-control" id="password" name="password" placeholder="New password" ng-model="vm.password" ng-minlength=5 ng-maxlength=20 required>
            <div ng-show="form.password.$dirty && form.password.$invalid">
                <p class="help-block" ng-show="form.password.$error.required">
                    Required
                </p>
                <p class="help-block" ng-show="form.password.$error.minlength">
                    Min length: 5
                </p>
                <p class="help-block" ng-show="form.password.$error.maxlength">
                    Max length: 20
                </p>
            </div>
            <password-strength-bar-directive password-to-check="vm.password"></password-strength-bar-directive>
        </div>
        <div class="form-group" ng-show="!vm.success">
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm new password" ng-model="vm.confirmPassword" ng-minlength=5 ng-maxlength=20 required>
            <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                <p class="help-block" ng-show="form.confirmPassword.$error.required">
                    Required
                </p>
                <p class="help-block" ng-show="form.confirmPassword.$error.minlength">
                    Min length: 5
                </p>
                <p class="help-block" ng-show="form.confirmPassword.$error.maxlength">
                    Max length: 20
                </p>
            </div>
        </div>
        <button type="submit" class="btn btn-primary block full-width m-b font-bold" ng-disabled="form.$invalid || vm.isSaving || vm.keyMissing || vm.password != vm.confirmPassword">
            <span class="fa fa-circle-o-notch fa-spin" ng-show="vm.isSaving"></span>
            <span ng-hide="vm.isSaving">Reset password</span>
        </button>
        <a class="btn btn-sm btn-white btn-block font-bold" ui-sref="login">Back</a>
    </form>
</div>
<div class="navbar-fixed-bottom text-center">
    <p class="m-t text-muted font-bold">
        <small>{{companyName}}</small>
    </p>
</div>
