<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation-directive>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.cancel()">&times;</button>
        <h4 class="modal-title">{{vm.pageTitle}}</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="control-label">Username</label>
            <input type="text" class="form-control" name="username" ng-model="vm.entity.username"
                   ng-disabled="vm.mode=='edit'" required ng-minlength="3" ng-maxlength="20" ng-pattern="/^[a-z0-9-]+$/">
            <div ng-show="editForm.username.$invalid">
                <p class="help-block" ng-show="editForm.username.$error.required">
                    Required
                </p>
                <p class="help-block" ng-show="editForm.username.$error.minlength">
                    Min length: 3
                </p>
                <p class="help-block" ng-show="editForm.username.$error.maxlength">
                    Max length: 20
                </p>
                <p class="help-block" ng-show="editForm.username.$error.pattern">
                    Only supports letters, numbers and hyphens
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">First name</label>
            <input type="text" class="form-control" name="firstName" ng-model="vm.entity.firstName"
                   required ng-minlength="1" ng-maxlength="20">
            <div ng-show="editForm.firstName.$invalid">
                <p class="help-block" ng-show="editForm.firstName.$error.required">
                    Required
                </p>
                <p class="help-block" ng-show="editForm.firstName.$error.minlength">
                    Min length: 1
                </p>
                <p class="help-block" ng-show="editForm.firstName.$error.maxlength">
                    Max length: 20
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Last name</label>
            <input type="text" class="form-control" name="lastName" ng-model="vm.entity.lastName"
                   required ng-minlength="1" ng-maxlength="20">
            <div ng-show="editForm.lastName.$invalid">
                <p class="help-block" ng-show="editForm.lastName.$error.required">
                    Required
                </p>
                <p class="help-block" ng-show="editForm.lastName.$error.minlength">
                    Min length: 1
                </p>
                <p class="help-block" ng-show="editForm.lastName.$error.maxlength">
                    Max length: 20
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Email</label>
            <input type="email" class="form-control" name="email" ng-model="vm.entity.email"
                   required ng-minlength="3" ng-maxlength="30">
            <div ng-show="editForm.email.$invalid">
                <p class="help-block" ng-show="editForm.email.$error.required">
                    Required
                </p>
                <p class="help-block" ng-show="editForm.email.$error.minlength">
                    Min length: 3
                </p>
                <p class="help-block" ng-show="editForm.email.$error.maxlength">
                    Max length: 30
                </p>
                <p class="help-block" ng-show="editForm.email.$error.email">
                    Invalid email format
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Mobile number</label>
            <input type="text" class="form-control" name="mobileNo" ng-model="vm.entity.mobileNo"
                   required ng-maxlength="13" ng-pattern="/^(13[0-9]|15[012356789]|17[03678]|18[0-9]|14[57])[0-9]{8}$/">
            <div ng-show="editForm.mobileNo.$invalid">
                <p class="help-block" ng-show="editForm.mobileNo.$error.required">
                    Required
                </p>
                <p class="help-block" ng-show="editForm.mobileNo.$error.maxlength">
                    Max length: 12
                </p>
                <p class="help-block" ng-show="editForm.mobileNo.$error.pattern">
                    Invalid mobile number format
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Activated</label>
            <div class="onoffswitch">
                <input type="checkbox" id="activated" ng-model="vm.entity.activated" class="onoffswitch-checkbox"
                       ng-disabled="vm.entity.username === null || vm.mode === 'edit' && vm.entity.activated">
                <label class="onoffswitch-label" for="activated">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Authority</label>
            <a tooltip-placement="right" uib-tooltip="ROLE_USER is required"><i class="fa fa-exclamation"></i></a>
            <select class="form-control" multiple name="authority" ng-model="vm.entity.authorityNames"
                    ng-options="authority for authority in vm.authorities">
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">Enabled</label>
            <div class="onoffswitch">
                <input type="checkbox" id="enabled" ng-model="vm.entity.enabled" class="onoffswitch-checkbox"
                       ng-disabled="vm.entity.username === null">
                <label class="onoffswitch-label" for="enabled">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Remarks</label>
            <input type="text" class="form-control" name="remarks" ng-model="vm.entity.remarks" ng-maxlength="50">
            <div ng-show="editForm.remarks.$invalid">
                <p class="help-block" ng-show="editForm.remarks.$error.maxlength">
                    Max length: 50
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" ng-click="vm.cancel()">
            <span class="fa fa-times"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" class="btn btn-default btn-sm" ng-disabled="editForm.$invalid || vm.isSaving">
            <span class='fa fa-circle-o-notch fa-spin' ng-show="vm.isSaving"></span>
            <span class="fa fa-check" ng-hide="vm.isSaving"></span>
            &nbsp;<span>Save</span>
        </button>
    </div>
</form>
