<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{vm.pageTitle}}</h2>
    </div>
</div>
<div class="wrapper wrapper-content p-h-xs animated fadeInDown">
    <div class="ibox-content m-b-sm">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label">Filter</label>
                    <input type="text" class="form-control" placeholder="Filter by keyword" ng-model="filter">
                </div>
            </div>
        </div>
    </div>
    <div class="ibox-content">
        <label ng-hide="filteredConfig.length == 0">Spring configuration</label>
        <table class="table table-condensed table-striped table-bordered table-responsive"
               style="table-layout:fixed" ng-hide="filteredConfig.length == 0">
            <thead>
            <tr>
                <th ng-click="predicate = 'prefix'; reverse=!reverse" class="col-sm-4"><span>Prefix</span> <span class="fa fa-sort"></span></th>
                <th class="col-sm-8">Properties</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entry in filteredConfig = (vm.configuration | filter:filter | orderBy:predicate:reverse)">
                <td>{{entry.prefix}}</td>
                <td>
                    <div class="row" ng-repeat="(key, value) in entry.properties">
                        <div class="col-md-4">{{key}}</div>
                        <div class="col-md-8">
                            <span class="pull-right label label-primary break">{{value}}</span>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div ng-repeat="(key, value) in vm.allConfiguration">
            <label ng-hide="filtered.length == 0"><span>{{key}}</span></label>
            <table class="table table-condensed table-striped table-bordered table-responsive"
                   style="table-layout:fixed" ng-hide="filtered.length == 0">
                <thead>
                <tr>
                    <th class="col-sm-4">Property</th>
                    <th class="col-sm-8">Value</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in filtered = (value | filter:filter)">
                    <td class="break">{{item.key}}</td>
                    <td class="break">
                        <span class="pull-right label label-primary break">{{item.val}}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>