<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation-directive>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.cancel()">&times;</button>
        <h4 class="modal-title">{{vm.pageTitle}}</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="control-label">名称</label>
            <input type="text" class="form-control" name="name" ng-model="vm.entity.name" required ng-maxlength="20" ng-disabled="vm.mode == 'edit'">
            <div ng-show="editForm.name.$invalid">
                <p class="help-block" ng-show="editForm.name.$error.required">
                    必填字段
                </p>
                <p class="help-block" ng-show="editForm.name.$error.maxlength" translate-value-max="20">
                    最大长度为20个字符
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">权限名称</label>
            <select class="form-control" multiple name="authority" ng-model="vm.entity.authorities"
                    ng-options="authority for authority in vm.authorities">
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">是否可用</label>
            <div class="onoffswitch">
                <input type="checkbox" id="enabled" ng-model="vm.entity.enabled" class="onoffswitch-checkbox" ng-disabled="vm.entity.name === null">
                <label class="onoffswitch-label" for="enabled">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" ng-click="vm.cancel()">
            <span class="fa fa-times"></span>&nbsp;<span>取消</span>
        </button>
        <button type="submit" class="btn btn-default btn-sm" ng-disabled="editForm.$invalid || vm.isSaving">
            <span class='fa fa-circle-o-notch fa-spin' ng-show="vm.isSaving"></span>
            <span class="fa fa-check" ng-hide="vm.isSaving"></span>
            &nbsp;<span>保存</span>
        </button>
    </div>
</form>
