<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{vm.pageTitle}}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首页</a>
            </li>
            <li>
                <a style="pointer-events: none">{{vm.grandfatherPageTitle}}</a>
            </li>
            <li>
                <a ui-sref="^">{{vm.parentPageTitle}}</a>
            </li>
            <li class="active">
                <strong>{{vm.pageTitle}}</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInDown">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>参数名称</th>
                            <th>参数值</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Client ID:</td>
                            <td>{{vm.entity.client_id}}</td>
                        </tr>
                        <tr>
                            <td>Resource IDs:</td>
                            <td>{{vm.entity.resource_ids}}</td>
                        </tr>
                        <tr>
                            <td>Raw Client Secret:</td>
                            <td>{{vm.entity.raw_client_secret}}</td>
                        </tr>
                        <tr>
                            <td>Client Secret:</td>
                            <td>{{vm.entity.client_secret}}</td>
                        </tr>
                        <tr>
                            <td>Scope:</td>
                            <td>
                                <ul class="list-unstyled m-b-none">
                                    <li ng-repeat="item in vm.entity.scope"><span>{{item}}</span></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Auto Approve Scopes:</td>
                            <td>
                                <ul class="list-unstyled m-b-none">
                                    <li ng-repeat="item in vm.entity.autoapprove"><span>{{item}}</span></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Authorized Grant Types:</td>
                            <td>
                                <ul class="list-unstyled m-b-none">
                                    <li ng-repeat="item in vm.entity.authorized_grant_types"><span>{{item}}</span></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Web Server Redirect URI:</td>
                            <td>
                                <ul class="list-unstyled m-b-none">
                                    <li ng-repeat="item in vm.entity.redirect_uri"><span>{{item}}</span></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Authorities:</td>
                            <td>
                                <ul class="list-unstyled m-b-none">
                                    <li ng-repeat="authority in vm.entity.authorities"><span>{{authority}}</span></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Access Token Validity:</td>
                            <td>{{vm.entity.access_token_validity}} Seconds (={{vm.entity.access_token_validity/(60 * 60
                                * 24)}} Days)
                            </td>
                        </tr>
                        <tr>
                            <td>Refresh Token Validity:</td>
                            <td>{{vm.entity.refresh_token_validity}} Seconds (={{vm.entity.refresh_token_validity/(60 *
                                60 * 24)}} Days)
                            </td>
                        </tr>
                        <tr>
                            <td>Additional Information:</td>
                            <td>{{vm.entity.additional_information}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="text-right">
                        <button type="button" class="btn btn-default btn-sm" ui-sref="^">
                            <span class="fa fa-arrow-left"></span>&nbsp;<span>返回</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>