<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{vm.pageTitle}}</h2>
    </div>
</div>
<div class="wrapper wrapper-content p-h-xs animated fadeInDown">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5></h5>
                    <div ibox-tools-directive></div>
                </div>
                <div class="ibox-content p-w-m">
                    <div class="row p-h-xs">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label" for="dictName">字典名称</label>
                                <div class="input-group">
                                    <input type="text" name="dictName" class="form-control" ng-model="vm.criteria.dictName" ng-keydown="vm.checkPressEnter($event)">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary" ng-click="vm.transition()">
                                            <span class="fa fa-search"></span>&nbsp;
                                            <span>查询</span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr sort-directive="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                                <th sort-by-directive="dictCode"><span>字典代码</span> <span class="fa fa-sort"></span></th>
                                <th sort-by-directive="dictName"><span>字典名称</span> <span class="fa fa-sort"></span></th>
                                <th sort-by-directive="enabled"><span>是否可用</span> <span class="fa fa-sort"></span></th>
                                <th>备注</th>
                                <th sort-by-directive="modifiedTime"><span>修改时间</span> <span class="fa fa-sort"></span></th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="entity in vm.entities track by entity.id">
                                <td>{{entity.dictCode}}</td>
                                <td>{{entity.dictName}}</td>
                                <td>
                                    <span class="label label-danger" ng-click="vm.setEnabled(entity, true)" ng-show="!entity.enabled"
                                          style="cursor: pointer;">否</span>
                                    <span class="label label-primary" ng-click="vm.setEnabled(entity, false)" ng-show="entity.enabled"
                                          style="cursor: pointer;">是</span>
                                </td>
                                <td>{{entity.remark}}</td>
                                <td>{{entity.modifiedTime | date:'yyyy/MM/dd HH:mm:ss'}}</td>
                                <td>
                                    <div class="btn-group">
                                        <button class="btn-white btn btn-xs" ui-sref=".edit({id: entity.id})">编辑</button>
                                        <button class="btn-white btn btn-xs" ng-click="vm.del(entity.id)">删除</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="12" class="text-center">
                                    <strong><item-count-component page="vm.page" total="vm.totalItems" items-per-page="vm.itemsPerPage"></item-count-component></strong>
                                    <uib-pagination class="pagination-sm m-xs" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>