name: Push docker image to registry

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'corretto'
          cache: maven

      - name: Login to registry
        run: echo "${{ vars.GHCR_ACCESS_TOKEN }}" | docker login ${{ vars.GHCR_URL }} -u ${{ vars.GHCR_USERNAME }} --password-stdin

      - name: Build and push docker image to registry
        run: npm run docker:push -- -Djib.image.version=latest -Djib.registry.url=${{ vars.GHCR_URL }}/${{vars.GHCR_USERNAME}}/

      - name: Send success notification
        uses: niniyas/ntfy-action@master
        if: success()
        with:
          url: '${{ vars.NTFY_URL }}'
          topic: '${{ vars.NTFY_TOPIC }}'
          title: '✅ Built docker image'
          icon: 'https://raw.githubusercontent.com/pm6422/pm6422/main/assets/images/logo/luix-passport.png'

      - name: Send failure notification
        uses: niniyas/ntfy-action@master
        if: failure()
        with:
          url: '${{ vars.NTFY_URL }}'
          topic: '${{ vars.NTFY_TOPIC }}'
          title: '❌ Failed to build docker image'
